@model CommonUtility.AdministrationModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    input {
        width: 100%;
    }
</style>

@{Html.EnableClientValidation(true);}
@using (Html.BeginForm("ChangePassword", "Logon", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.AdminId)
    
    <div class="main ">

        <div class="clearfix"></div>
        <div class="content2">

            <h4>Change Password</h4>
            <div class="form-2">
                @*<ul>
                    <li class="" style="padding-left: 0;">
                        <span class="name">Password</span>
                        <div class="clearfix"></div>
                        <span class="col-md-6" style="padding-left: 0;">
                            @Html.TextBoxFor(x => x.Password, new {@clas="control-form", @placeholder = "Current Password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </span>
                    </li>


                </ul>*@
                <ul>
                    <li class="" style="padding-left: 0;">
                        <span class="name">New Password</span>
                        <div class="clearfix"></div>
                        <span class="col-md-6" style="padding-left: 0;">
                            @Html.PasswordFor(x => x.NewPassword, new { placeholder = "New Password" })
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </span>
                    </li>


                </ul>

                <ul>
                    <li class="" style="padding-left: 0;">
                        <span class="name">Confirm Password</span>
                        <div class="clearfix"></div>
                        <span class="col-md-6" style="padding-left: 0;">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </span>
                    </li>


                </ul>

                <ul>
                    <li class="col-md-3" style="padding:0;">
                        <input type="submit" value="Submit" class="btn" />


                    </li>
                    <li class="col-md-3"><a style="width: 100%; margin: 4px 0;" href="@Url.Action("Index","MasterData")" class="btn">Cancel</a></li>
                </ul>
                @if (Session["PasswordChange"] != null)
                {
                    <div style="color:green" class="errormsgs">
                        @Session["PasswordChange"].ToString()
                    </div>
                   
                }
            </div>
        </div>
    </div>
}


