@model CommonUtility.LandingPageModel
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
    string homeDesc = string.Empty;
    string homeTitle = string.Empty;
}


    <!-- hero-strart -->
<div class="hero ">
    <div class="">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
            </ol>
            <ul class="carousel-inner">
                @{int i = 0;}
                @foreach (var item1 in Model.BannerList)
                {
                <li class="item active" style="background-image: url(/Areas/Admin/img/@item1.BannerName)">
                

                </li>
                    i++;
                    if (i == 1)
                    {
                        break;
                    }
                }


                @foreach (var item in Model.BannerList)
                {
           
               <li class="item" style="background-image: url(/Areas/Admin/img/@item.BannerName)">

                 </li>

                 }

            

            </ul>
        </div>
    </div>

 
</div>
<!-- hero-end -->
<!-- main-start -->.

<div class="container">
    <div class="main">
        <section style="border-bottom: 1px solid #eee;overflow: hidden; margin-bottom: 20px; padding-bottom: 15px;">
            <div class="col-md-8 article">
@foreach (var item in Model.HomeList)
                        {
                <div class="heading2">
                    <h3>
                       @item.Title
                    @*Welcome to  AL-HANOON Medical Tourism*@
                    </h3>
                </div>
              
                   @Html.Raw(item.Description)           
}
                <div class="clearfix"></div>
                <div class="services">
                    <div class="heading2">
                        <h3>Services</h3>
                    </div>
                    <div class="article1">

                        @foreach (var item in Model.ServicesList)
                        {

                           <div class="col-md-3">
                               <a href="@Url.Action("Services", "Home", new { @id = @item.Id })" style="background: #65C9E3;"> <span class="icon2"><img src="~/Areas/Admin/img/@item.Icon" /> </span>@item.Title</a>
                        </div>

                        }
                        @*<div class="col-md-3">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-heartbeat"></i> </span>Medical Services</a>
                        </div>

                        <div class="col-md-3">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-bed"></i> </span>Accommodation services </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-cutlery"></i> </span>meal Services </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-bus"></i> </span>Transport and communication services </a>
                        </div>*@
                        <!-- <div class="col-md-3">
                        <a href="#" style="background: #3ABEC0;"> <span class="icon2" > <i class="fa fa-usd"></i> </span>Reasonable price of treatment </a>
                        </div> -->
                        <div class="clearfix"></div>
                        <div class="heading2">
                            <h3>Free Services</h3>
                        </div>
                        @foreach (var item in Model.ServicesList)
                        {

                            <div class="col-md-4">
                                <a href="@Url.Action("Services", "Home", new { @id = @item.Id })" style="background: #65C9E3;"> <span class="icon2"> <img src="~/Areas/Admin/img/@item.Icon"/>  </span>@item.Title</a>
                            </div>

                        }
                        @*<div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-plane"></i> </span>Airport pick-up/Drop-off facility</a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-taxi"></i> </span>Airport pick-up/Drop-off facility</a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-language"></i> </span> In-House Translators </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="fa fa-car"></i> </span> Car service for tour and shopping in the home town </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <i class="" style="font-weight: bold;">-%</i> </span> 10% percent discount in full body check up. </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" style="background: #65C9E3;"> <span class="icon2"> <img src="img/sim.png" /> </span> Sim card with balance.</a>
                        </div>*@

                    </div>
                </div>
                <!-- services end -->
                <div class="clearfix"></div>
                <!-- Medical services -->

            </div>
            <div class="col-md-4 no-padding">
  @using (Html.BeginForm("Enquiry", "Home", new { @class = "form contact-form", @role = "form" }))
    {
        
                <div class="form">
                    <div class="heading1" style="margin-bottom: 10px;">
                        <h4>Quick Enquiry</h4>
                    </div>
                    <ul>
                        <li class="icon">
                            <i class="fa fa-user"></i>
                        </li>
                        <li class="input">
                              @Html.TextBoxFor(x => x.FName, new { @class = "form-control", @placeholder = "Full Name" })
                            @Html.ValidationMessageFor(x => x.FName)
                          @*  <input style="" type="text" class="form-control" placeholder="Full name">*@
                        </li>
                    </ul>
                    <ul>
                        <li class="icon light">
                            <i class="fa fa-plus"></i>

                        </li>
                        <li class="input">
                              @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @placeholder = "Phone Number" })
                          @Html.ValidationMessageFor(x => x.Mobile)
                          @*  <input style="" type="text" class="form-control" placeholder="Phone Number">*@
                        </li>
                    </ul>
                    <ul>
                        <li class="icon" style="padding: 14px 18px;">
                            <i class="fa fa-envelope"></i>

                        </li>
                        <li class="input">
                               @Html.TextBoxFor(x => x.Emails, new { @class = "form-control", @placeholder = "Email" })
                           @Html.ValidationMessageFor(x => x.Emails)
                           @* <input style="" type="text" class="form-control" placeholder="Email- Address">*@
                        </li>
                    </ul>
                    <ul>
                        <li class="icon light" style="padding: ">
                            <i class="fa fa-map-marker"></i>

                        </li>
                        <li class="input">
                             @Html.TextBoxFor(x => x.Country, new { @class = "form-control", @placeholder = "Country" })
                              @Html.ValidationMessageFor(x => x.Country)
                           @* <input style="" type="text" class="form-control" placeholder="Country">*@
                        </li>
                    </ul>
                    <ul style="border-left: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
                        <li class="icon" style="float: left; margin-left: -1px; ">
                            <i class="fa fa-align-left"></i>

                        </li>
                        <li class="input" style="border-top: 1px solid #ccc">
                              @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @rows = "8", @placeholder = "Write a message" })
                            @Html.ValidationMessageFor(x => x.Message)
                          @*  <textarea id="mjs-widget_209_input_4" class="mjs-input mjs-input-textarea" maxlength="512" tabindex="20904" name="data[message]" placeholder="Message:" style="width: 580px; height: 150px;margin-left: 13px; margin-right: -2px;"></textarea>*@
                        </li>
                    </ul>
                    <ul>
                        <li class="" style="margin-top: -46px; float: left;z-index: 1000">
                             <button type="submit" style="z-index: 1000;" class="btn">
                         Submit
                       </button>
                          @*  <a href="#" class="btn" style="z-index: 1000;">Submit</a>*@
                        </li>
                          @if (Session["enquiry"] != null)
         {
    <div class="successmsg">
        @Session["enquiry"].ToString()
    </div>

         }
                    </ul>
                </div>
  }
                <div class="panel1">
                    <div class="heading3">
                        <h4>Medical Procedure</h4>
                    </div>
                    @foreach (var item in Model.TreatmentList)
                    { 
                      <ul>
                        <li>
                            <i class="fa fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="@Url.Action("Treatment","Home",new { @id = @item.Id })">@item.Title</a>
                        </li>

                    </ul>
                    }
                  
                    @*<ul>
                        <li>
                            <i class="fa fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#">Hip joint replacement</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <i class="fa fa-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#">Oral and dental care</a>
                        </li>

                    </ul>
                 *@

                    <a href="@Url.Action("Treatment","Home")" class="btn">View more</a>
                </div>

            </div>

        </section>
        <div class="clearfix"></div>
        <section style="border-bottom: 1px solid #ccc; overflow: hidden; padding-bottom: 15px;">
            <div class="services2">

                <div class="contain">

                    <div class="col-md-8 " style="padding-left: 0;">
                        <div class="services" style="margin-top: 0; padding-top: 10px;">
                            <div id="myTab">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab">Doctors</a>
                                    </li>
                                    <li>
                                        <a href="#profile" data-toggle="tab">Hospiatals</a>
                                    </li>
                                    <li>
                                        <a href="#messages" data-toggle="tab">Other options</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home">
                                        <br>
                                        <div class="clearfix"></div>

                                        <div class="section">
                                            <div class="heading col-md-12">
                                                <ul class="inline col-md-2 col-xs-3">
                                                    <li>
                                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="wrapper">

                                                <div class="jcarousel-wrapper">

                                                    <div class="jcarousel sponsors">
                                                        <ul>

                                                            @foreach (var item in Model.DoctorList)
                                                            {

                                                                <li class="">
                                                                <div class="doctors">
                                                                    <img src="~/Areas/Admin/img/@item.Photo"/>
                                                                    <section class="border">
                                                                        <a href="@Url.Action("Doctor", "Home", new { @id = @item.DoctorId })">@item.DoctorName</a>
                                                                        <p>
                                                                           @item.Designation
                                                                        </p>
                                                                    </section>
                                                                    <br>

                                                                </div>
                                                            </li>

                                                            }




                                                            @*<li class="">
                                                                <div class="doctors">
                                                                    <img src="~/assets/img/doctor1 (1).jpg" />
                                                                    <section class="border">
                                                                        <a href="#">Dr. Karen Dawson</a>
                                                                        <p>
                                                                            Pediatric Clinic
                                                                        </p>
                                                                    </section>
                                                                    <br>

                                                                </div>
                                                            </li>
                                                           *@
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="profile">

                                        <div class="clearfix"></div>
                                        <div class="section">
                                            <div class="heading col-md-12">
                                                <ul class="inline col-md-2 col-xs-3">
                                                    <li>
                                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="wrapper">

                                                <div class="jcarousel-wrapper">

                                                    <div class="jcarousel sponsors doctors-big">
                                                        <ul style="margin: 0; left: 0 !important;">

                                                            @foreach (var item in Model.HospitalList)
                                                            {

                                                              <li class="width">
                                                                <div class="doctors">
                                                                    <a href="@Url.Action("Hospital", "Home")"> <img src="~/Areas/Admin/img/@item.Image" /></a>
                                                                    <section class="border">
                                                                     
                                                                    </section>
                                                                    <br>

                                                                </div>

                                                            </li>

                                                            }

                                                            @*<li class="width">
                                                                <div class="doctors">
                                                                    <img src="~/assets/img/kokolaben_01.jpg" />
                                                                    <section class="border">
                                                                        <a href="#">Dr. Karen Dawson</a>
                                                                        <p>
                                                                            Pediatric Clinic
                                                                        </p>
                                                                    </section>
                                                                    <br>

                                                                </div>

                                                            </li>
                                                          *@

                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="messages">
                                        <div class="section">
                                            <div class="heading col-md-12">
                                                <ul class="inline col-md-2 col-xs-3">
                                                    <li>
                                                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="wrapper">

                                                <div class="jcarousel-wrapper">

                                                    <div class="jcarousel sponsors">
                                                        <ul>
                                                            <li class="">

                                                            </li>
                                                            <li>

                                                            </li>
                                                            <li></li>
                                                            <li>

                                                            </li>
                                                            <li>

                                                            </li>
                                                            <li>

                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 news-letter no-padding">

                        <div class="latest">
                            <div class="section">
                                <div class="heading col-md-12" style="margin: 0; background: #65C9E3; color: #fff;	">
                                    <div class="col-md-9" style="margin-top: 0px;">
                                        <h4>Latest news</h4>
                                    </div>
                                    <ul class="inline col-md-2 col-xs-3" style="margin-top: -5px; ">

                                        <li>
                                            <a style="color: #fff" href="#" class="jcarousel-control-prev">&lsaquo;</a>
                                        </li>
                                        <li>
                                            <a href="#" style="color: #fff;" class="jcarousel-control-next">&rsaquo;</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="wrapper" style="margin-top: -19px;">

                                    <div class="jcarousel-wrapper">

                                        <div class="jcarousel testimonials">
                                            <ul>
                                                @foreach (var item in Model.latestNewsList)
                                                {

                                                    <li class="">
                                                    <span class="col-md-4"><img src="~/Areas/Admin/img/@item.Image" /></span>
                                                    <span class="col-md-8">
                                                       
                                                           @Html.Raw(item.Description)
                                                        

                                                         </span>
                                                </li>

                                                }

                                                @*<li class="">
                                                    <span class="col-md-4"><img src="~/assets/img/news.jpg" /></span>
                                                    <span class="col-md-8">
                                                        <p>
                                                            Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste
                                                        </p>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="col-md-4"><img src="~/assets/img/news.jpg" /></span>
                                                    <span class="col-md-8">
                                                        <p>
                                                            Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste
                                                        </p>
                                                    </span>
                                                </li>*@

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <section>
                            <div class="heading1" style="background: #65C9E3;">
                                <h4>newsletter</h4>
                            </div>
                            <ul class="inline">
                                <li class="col-md-2">
                                    <i class="fa fa-envelope  fa-rotate-30"></i>
                                <li class="col-md-10">
                                    Sign up with your name and email to get updates fresh updates.
                                </li>

                            </ul>

                            <div class="clearfix"></div>
                         
@using (Html.BeginForm("AddEditSubscriber", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                            <ul>
                              
                                <li class="input">
                                   
                                    @Html.TextBoxFor(x =>x.Email, new { @placeholder = "Email", @class = "form-control" })
                                    @*<input style="" type="text" class="form-control" placeholder="Your e-mail address">*@
                                </li>
                                <input type="submit" value="Subscribe" class="btn" />
 @if (Session["Success"] != null)
{
    <div class="successmsg">
        @Session["Success"].ToString()
    </div>
    Session["Success"] = null;
}
else if (Session["Error"] != null)
{
    <div class="errormsg">
        @Session["Error"].ToString()
    </div>
    Session["Error"] = null;
}
                               @*<a class="btn" href="@Url.Action("AddEditSubscriber", "Home", FormMethod.Post)">Subscribe</a>*@
                            </ul>
                            
}
 <style>
     .successmsg {
         color: #008FD5;
     }

 </style>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- main-end -->
<div class="clearfix"></div>

